body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #202020;
}

.container {
    width: 80%;
    max-width: 600px;
    position: relative;
}

img {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}